*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    width: 98.9vw;
    height: 100vh;
    position: relative;
}

header{
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1;

}

header button{
    border-radius:50%;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 900;
    margin-right: 30px;
    border: none;
}

a{
    text-decoration: none;
}

#article1{
    background-color: red;
}

#article2{
    background-color: #41ad1a;
}

#article3{
    background-color: yellow;
}

main div{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main img{
    width: 100%;
}

main h1{
    color: yellow;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

#titolo-verde{
    color: green;
}
