*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button, h1{
    font-family: 'Lexend Deca', sans-serif;
}

section {
    width: 98.9vw;
    height: 100vh;
    position: relative;
}

header{
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1;

}

header button{
    border-radius:50%;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 900;
    margin-right: 30px;
    border: none;
}

a{
    text-decoration: none;
}

#article1{
    background-color: #ff0000;
}

#article2{
    background-color: #008000;
}

#article3{
    background-color: #ffff00;
}

main div{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main img{
    width: 100%;
}

main h1{
    color: #ffff00;
    font-size: 40px;
    text-align: center;
}

#titolo-verde{
    color: #008000;
}
